<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c65b07af-6439-424a-a796-9ec5e7a07015/resourceGroups/pokemonchallenge/providers/Microsoft.Web/sites/pokemonchallenge</ResourceId>
    <ResourceGroup>pokemonchallenge</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pokemonchallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pokemonchallenge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pokemonchallenge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pokemonchallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="pokemon_challengeContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="pokemon_challenge.Models.pokemon_challengeContext, pokemon-challenge" MigrationConfiguration="pokemon_challenge.Migrations.Configuration, pokemon-challenge" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="pokemon_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pokemonserver.database.windows.net,1433;Initial Catalog=pokemonDatabase;User ID=pokemon;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>